

*{
    margin: 0;
    padding: 0;
    
}

.rotulos{
    display: flex;
    flex-direction: column;
    
    row-gap: 35px; 
    margin-bottom:  10px;

}

.entradasDados{
    display: flex;
    flex-direction: column;
    


}
.entradasDados input{
    font-family: 'Averia Libre';
    font-size: 36px;
    color: #3F92C5;
    width: 585px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
   
    
}
 
.radios{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 20px;



    
    
}
#sexoM{
    width: 27px;
}
#sexoF{
    width: 27px;
}
