


.div_btn_delete{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 320px;
    margin-top: 21px;

}

#btn_delete{
    font-size: 24px;
    font-family: 'Averia Libre';
    color:#FFFFFF;
    font-style: normal;
    font-weight: 400;
    background-color: #FD7979;
    padding: 10px;
    

}

