*{
    margin: 0;
    padding: 0;
    font-family: 'Averia Libre';
    font-style: normal;
    font-weight: 400;
   
}

body{
    height: auto;
}


.texto_index_geral{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
  
   
}
.barraPesquisa{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

    background-color: #ffffff;
    height: 48px;
    width: 94%;
    margin-top: 2%;
    margin-left: 3%;
    border-radius: 10px;
    
}
.barraImage{
    display: flex;
    flex-direction: row;

    width: fit-content;
    height: fit-content;
    border: solid #ffffff;
    margin-left: 10px;
   
}

.barra_pesquisar{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: 'Averia Libre';
    font-style: normal;
    font-weight: 400;
    margin-right: 10px;
    text-decoration: none;

    
    
    height: 40px;
    font-size: 24px;
 


}
#pesquisar{
    image-rendering: var(--);
}


.btn_novaVacina{
    




    padding: 20px;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%; 
}
.cxDados{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 62px;
  
}

.dadosVacinas{
    display: grid;
    column-gap: 66px;
    row-gap: 46px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: fit-content;
 

}
.componenteVacina{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
   
    width: fit-content;
    
    width: 330px;
    height: 321px;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    



}
.componenteVacina h1{
    font-size: 36px;
    color: #3F92C5;
    padding-top: 0;
    margin-bottom: 6px;
    height: 41px;
    line-height: 43px;
   
}
#divBtnDel{
    position: relative;
    
    margin-top: -10%;
    margin-left: 90%;
    width: 40px;
    height: 40px;
}
#btnDel{
    
   
    width: 50px;
    height: 50px;
    background-image: url("../imagens/botao_deletar.png");

    outline-style: none;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    
    
}

.divImagem img{
    width: 300px;
    height: 146px;
    
   
}
.cxlblDose{
    margin-top: 5px;
   
    height: 19.98px;
    margin-bottom: 6px;

}
.cxlblDose h2{
    background-color: #3F92C5;
    color: #ffffff;
    font-size: 16px;
    width: fit-content;
    padding: 5px;
}
.lblDataComp{
    font-size: 16px;
    color: #8B8B8B ;
    margin-top: 6.02px;
    margin-bottom: 11.14px;
    
}

/* icon */
.searchIcon{
   

position: absolute;
width: 27px;
height: 26px;
left: 44px;
top: 120px;

background: url(search.png);

}



.proxDose{
 
   width:100%;
   height: 100%;
    padding-top: 0px;
    padding-right: 10px;

}

.proxDose > p{
    font-size: 16px;
    color: #FD7979;
    text-align: right;
   
}


