*{
    margin: 0;
    padding: 0;
    font-family: 'Averia Libre';
    font-style: normal;
    font-weight: 400;
}


.texto_index_geral{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
  
   
}

.barra_pesquisar{
    display: flex;
    width: 96%;
    font-family: 'Averia Libre';
    font-style: normal;
    font-weight: 400;

    margin-left: 2%;
    margin-top: 100px;
    height: 40px;
    font-size: 24px;
}


.btn_novaVacina{
    




    padding: 20px;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%; 
}
.cxDados{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.dadosVacinas{
    display: grid;
    column-gap: 66px;
    row-gap: 46px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: fit-content;


}
.componenteVacina{
    background-color: #ffffff;
    margin-top: 10px;
    width: fit-content;
    padding: 20px;
    width: 330px;
    height: 321px;
    border-radius: 10px;

}

.divImagem img{
    width: 299px;
    height: 146px;
}