body{
    background-color:#ADD5D0;
    background-image: url(../imagens/background_index.png);
    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Averia Libre';
}

.corpoBody{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#contentBody{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    

}
.textoBody{
    
    width: 800px;
    
    text-align: center;
    font-family: 'Averia Libre';
    font-style: normal;
    font-size: 64px;
    color: #419ED7;
    padding: 50px;
}