



/*

.formCadNovaVacinaExt{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
   
    
    max-height: 1946px;
    max-width: fit-content;
    margin-top: 53px;
    margin-left: 44px;
}
.formCadNovaVacInt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    
    width: fit-content;
    margin-top: 50px;
    
}

.rotulos{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    width: fit-content;
    margin-right: 23px;
 
    margin-bottom: 30px;
}

.inputs_texts{
    display: flex;
    flex-direction: column;
   
    align-items: flex-start;
    justify-self: start;
    font-family: 'Averia Libre';
 
    color: #ffffff;
}




.quadradoImagem{

    width: 300px;
    height: 47px;
    background-color: #419ED7;
    border-style: solid 2px var(black);
    border-radius: 10px;
    font-family: 'Averia Libre';
    font-size: 24px;
    color: #ffffff;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
    
}

#myfile{
    display: none;
}
.picture{
    width: 300px;
    height: 146px;
    background-color: #ccc;
    display: block;
    border: 2px dashed #aaa;
    margin-bottom: 25px;
    
}
.input_label{
    font-family: 'Averia Libre';
    font-size: 36px;
    color:#FFFFFF;
    
    text-align: right;
    

}

#data_vac{
    height: 51px;
    font-family: 'Averia Libre';
    font-size: 36px;
    
    color: #3F92C5;
    width: 585px;

}
#label_data_vac{
    margin-top: 10px;

}

#nome_vac{
    height: 51px;
    font-family: 'Averia Libre';
    font-size: 36px;
 
    color: #3F92C5;
    width: 585px;
    margin-top: 20px;
    
}




.radios{
   
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    font-size: 36px;
    color: #3F92C5;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    
    
    
}

#dose1{
    width: 27px;
    margin-right: 10px;
    margin-left: 10px;
}
#dose2{
    width: 27px;
    margin-right: 10px;
    margin-left: 10px;
}
#dose3{
    width: 27px;
    margin-right: 10px;
    margin-left: 10px;
}
#reforco{
    width: 27px;
    margin-right: 10px;
    margin-left: 10px;
}
#doseUnica{
    width: 27px;
    margin-right: 10px;
    margin-left: 10px;
}

#label_comp_vac{
    margin-top: 20px;
}

#data_proxVac{
    height: 51px;
    font-family: 'Averia Libre';
    font-size: 36px;
    margin-bottom: 20px;
    color: #3F92C5;
    width: 585px;
}
#proxVac{
    position:relative;
    height: 51px;
    
    margin-top: 210px; 
    font-family: 'Averia Libre';
    font-size: 36px;
    width: 585px;
    color: #ffffff;
    margin-right: 5px;
    text-align: right;

}

.textos_input{
    font-family: 'Averia Libre';
    font-size: 36px;
    color: #ffffff;
}

.rotulos{
    display: flex;
    flex-direction: column;

}
.btn_novaVacina{
    display: flex;
    flex-direction: row;
    
    width: fit-content;
    align-self: center;
    text-decoration: none;

   
    
}
.btn_novaVacina a{
    text-decoration: none;
}
#label_nome_vac{
    margin-top: 35px;
}
#label_dose{
    margin-top: 30px;
}